<div class="row mt-4 m-2">
    <div class="col-12 col-md-12 col-xl-7 col-left">
        <div class="card mb-4">
            <img alt="Zoo Image" src="assets/images/nandankanan.png"
                class="responsive border-0 card-img-top mb-3 c-pointer" />
            <div class="card-body">
                <h5 class="card-title">title</h5>
                <h5>Location</h5>
                <p>History</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-12 col-xl-5 col-right">
        <div class="card mb-4">
            <div class="card-body">

                <div class="row">
                    <div class="col-9">
                        <p class="list-item-heading mb-4">City-Map</p>
                        <p class="list-item-heading mb-4">City-Map</p>
                        <p class="list-item-heading mb-4">City-Map</p>
                        <p class="list-item-heading mb-4">City-Map</p>
                        
                    </div>
                    <div class="col-3 d-flex justify-content-center align-items-center">
                        <button type="button" class="btn btn-primary btn-lg  h-100">Download</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Table of tour-guides with pagination</h5>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">perticular guide-details</h5>
            </div>
        </div>
    </div>
</div>