
<div class="grid-container">

    <div class="card" style="width: 18rem;" *ngFor="let place of details">
        <img [src]="'assets/images/' + place.image" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{place.name}}</h5>
            <p class="card-text">{{place.history}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <div class="row">
                <div class="col">
                    <li class="list-group-item">{{place.location}}</li>
                </div>
                <div class="col">
                    <li class="list-group-item">Details</li>
                </div>
            </div>
        </ul>
    </div>

    <!-- <div class="card" style="width: 18rem;">
        <img [src]="'assets/images/carousel2 (1).jpg'" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Nandan Kanan</h5>
            <p class="card-text">Nandankanan Zoo in Bhubaneswar is famous for white tigers, rich wildlife, and the
                scenic Kanjia Lake.</p>
        </div>
        <ul class="list-group list-group-flush">
            <div class="row">
                <div class="col">
                    <li class="list-group-item">Bhubaneswar,Odisha</li>
                </div>
                <div class="col">
                    <li class="list-group-item">Details</li>
                </div>
            </div>
        </ul>
    </div>

    <div class="card" style="width: 18rem;">
        <img [src]="'assets/images/nandankanan.png'" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Nandan Kanan</h5>
            <p class="card-text">Nandankanan Zoo in Bhubaneswar is famous for white tigers, rich wildlife, and the
                scenic Kanjia Lake.</p>
        </div>
        <ul class="list-group list-group-flush">
            <div class="row">
                <div class="col">
                    <li class="list-group-item">Bhubaneswar,Odisha</li>
                </div>
                <div class="col">
                    <li class="list-group-item">Details</li>
                </div>
            </div>
        </ul>
    </div>

    <div class="card" style="width: 18rem;">
        <img [src]="'assets/images/nandankanan.png'" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Nandan Kanan</h5>
            <p class="card-text">Nandankanan Zoo in Bhubaneswar is famous for white tigers, rich wildlife, and the
                scenic Kanjia Lake.</p>
        </div>
        <ul class="list-group list-group-flush">
            <div class="row">
                <div class="col">
                    <li class="list-group-item">Bhubaneswar,Odisha</li>
                </div>
                <div class="col">
                    <li class="list-group-item">Details</li>
                </div>
            </div>
        </ul>
    </div>
    <div class="card" style="width: 18rem;">
        <img [src]="'assets/images/nandankanan.png'" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Nandan Kanan</h5>
            <p class="card-text">Nandankanan Zoo in Bhubaneswar is famous for white tigers, rich wildlife, and the
                scenic Kanjia Lake.</p>
        </div>
        <ul class="list-group list-group-flush">
            <div class="row">
                <div class="col">
                    <li class="list-group-item">Bhubaneswar,Odisha</li>
                </div>
                <div class="col">
                    <li class="list-group-item">Details</li>
                </div>
            </div>
        </ul>
    </div>

    <div class="card" style="width: 18rem;">
        <img [src]="'assets/images/carousel2 (1).jpg'" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Nandan Kanan</h5>
            <p class="card-text">Nandankanan Zoo in Bhubaneswar is famous for white tigers, rich wildlife, and the
                scenic Kanjia Lake.</p>
        </div>
        <ul class="list-group list-group-flush">
            <div class="row">
                <div class="col">
                    <li class="list-group-item">Bhubaneswar,Odisha</li>
                </div>
                <div class="col">
                    <li class="list-group-item">Details</li>
                </div>
            </div>
        </ul>
    </div> -->



</div>