.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7px;
    padding-top: 6px;
    
}
.card-body{
    padding: 2px;
}
.list-group-items{
    padding: 0px;
}
.card-img-top{
    height: 50%;
}
.card-title{
    margin-bottom: 2px;

}
.card-text{
    height: 40px;
}